@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;600;700&family=The+Nautigal:wght@700&family=Ubuntu:wght@400;500;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: 0;
	border: 0;
	list-style: none;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 4rem;
}

:root{
	--transition: all 300ms ease;
	--text-color: #1b1b1b;
	--primary-color: #010101;
	--main-color: #A56329;
	--second-color: #F0EFEB;
}

@keyframes zoomInOut{
	0%, 100%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

img {
	width: 100%;
}

section {
  padding: 5rem 9%;
}

body {
	overflow-x: hidden;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

/*navbar styling**/
.header {
	background: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.8rem 9%;
	position: fixed;
	z-index: 1000;
	border-bottom: 2px solid #A56329;
}

.header h3 {
	color: var(--main-color);
	font-size: 40px;
	font-weight: 600;
	font-family: 'The Nautigal', cursive;
}

.header .navbar a{
	color: var(--main-color);
	margin: 0 0.5rem;
	font-size: 1rem;
}

.header .navbar a:hover{
	background:var(--second-color);
	border-radius: 0.2rem;
	transition: 0.2s all linear;
}

.header .navbar a:nth-child(5){
	border: 2px solid #A56329;
    border-radius: 0.3rem;
}


#menu-btn {
	font-size: 2.5rem;
	margin-left: 1.5rem;
	cursor: pointer;
	color: var(--main-color);
	display: none;
}

#menu-btn:hover {
    	color: #bfd1de;
}


/*home styling**/
.home {
	height: 100vh;
	display: grid;
	background: url(image/background3.jpg);
	background-position: center;
	background-size: cover;
}

.home-text {
	padding-top: 180px;
	color: #fff;
	text-align: center;
	margin-bottom: 70px;
}

.home-text span {
	font-size: 47px;
    text-transform: capitalize;
	font-family: 'The Nautigal', cursive;
}

.home-text h1 {
	font-size: 50px;
	margin-bottom: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
}

.home-btn{
	padding: 10px 20px;
	border-radius: 0.3rem;
	background: var(--main-color);
	color: var(--text-color);
	transition: var(--transition);
	cursor: pointer;
}

.home-btn:hover {
	background: var(--primary-color);
	color: #fff;
	border: 2px solid #A56329; 
}



/*about styling**/
section.about{
	background: url(image/about11.jpg);
	background-position: center;
	background-size: cover;
}
.about {
  padding: 5rem 1rem;  
}

.about-container {
	grid-template-columns: repeat(2,1fr);
	display: grid;
	grid-gap: 2rem;
	padding-left: 50px;
	padding-right: 50px;
}

.about-text p{
	text-align: center;
	font-size: 40px;
	font-family: 'The Nautigal', cursive;
	padding-bottom: 3px;
	color: var(--main-color);
}

.about-text h1{
	padding-bottom: 50px;
	text-align: center;
	font-size: 50px;
}

.about .image {
	width: 100%;
	height: 100%;
	object-fit: cover; 
}

.about .image img {
    width: 100%;
    border-radius: 5%;
}

.about .about-content {
    flex: 1 1 40rem;
}

.about .about-content h3 {
   color: #171717;
   font-size: 2.3rem;
   font-weight: 500;
   line-height: 1.2;
   margin-bottom: 0.9rem;
   text-transform: capitalize;
}

.about .about-content p {
   margin-bottom: 1rem;
}

.about-btn{
	padding: 10px 20px;
	border-radius: 0.3rem;
	background: var(--main-color);
	color: var(--text-color);
	transition: var(--transition);
	cursor: pointer;
}

.about-btn:hover {
	background: var(--primary-color);
	color: #fff;
	border: 2px solid #A56329;
}

/*menu styling**/
section.menu-section{
	background: url(image/about12.jpg);
	background-position: center;
	background-size: cover;
}

.menu-section {
	padding: 5rem 0;
}

.menu-container {
	padding-left: 50px;
	padding-right: 50px;
}

.menu-text p{
	text-align: center;
	font-size: 40px;
	font-family: 'The Nautigal', cursive;
	padding-bottom: 3px;
	color: var(--main-color);
}

.menu-text h1{
	padding-bottom: 30px;
	text-align: center; 
	font-size: 50px;
	color: #fff;
}

.menu-tabs {
	padding: 0 15px;
	text-align: center;
	width: 100%;
}

.menu-item {
	font-size: 16px;
	font-family: inherit;
	border: none;
	background: transparent;
	color: #fff;
	font-weight: 400;
	cursor: pointer;
	margin: 0 10px 10px;
	transition: color 0.3s ease;
	display: inline-block;
}

.menu-item.active{
	color: var(--main-color);
}

.menu-tab-content{
	display: none;
}

.menu-tab-content.active{
	display: flex;
}

.menu-items {
	display: flex;
	align-items: center;
	width: 50%;
	padding: 20px 15px;
	justify-content: space-between;
	position: relative;
}

.menu-items::after{
	content: '';
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 0;
	border-bottom: 2px dashed #191f39;
}

.menu-items:nth-last-of-type(2)::after,
.menu-items:nth-last-of-type(1)::after{
	border: none;
}

.menu-item-title{
	display: flex;
	align-items: center;
	max-width: calc(100% - 80px);
}

.menu-item-title img{
	max-width: 100px;
	margin-right: 15px;
	border-radius: 50%;
}

.menu-item-title h3{
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	transition: color 0.3s ease;
}

.menu-items:hover .menu-item-title h3{
	color: var(--main-color);
}

.menu-item-price{
	color: var(--main-color);
	font-size: 16px;
	font-family: 500;
	transition: color 0.3s ease;
}

.menu-items:hover .menu-item-price{
	color: #fff;
}

/*Review styling**/
section.review{
	background: url(image/about11.jpg);
	background-position: center;
	background-size: cover;
}

.reviews {
	padding: 40px 0;
	color: #434343;
	text-align: center;
}

.review-text{
	max-width: 12000px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}

.review-text.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col{
	flex: 33.33%;
	max-width: 33.33%;
	border-radius: border-box;
	padding: 15px;
}

.review-text p{
	text-align: center;
	font-size: 40px;
	font-family: 'The Nautigal', cursive;
	padding-bottom: 3px;
	color: var(--main-color);
}

.review-text h1{
	padding-bottom: 50px;
	text-align: center;
	font-size: 50px;
	color: #000;
}

.testimonal{
	background: #fff;
	padding: 30px;
}

.testimonal p{
	font-family:  'Poppins', sans-serif;
	font-size: 12px;
}

.testimonal img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.name{
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}

.stars {
	color: var(--main-color);
	margin-bottom: 20px;
}

/*help style*/
.review .thank-text {
	padding-bottom: 50px;
	text-align: center;	
	
}
 .thank-text h1 {
	font-family: 'The Nautigal', cursive;
	font-size: 60px;
}

/*----------footer styling**/

.footer{
	padding: 80px 0;
	background-image:  url(image/footer.jpg);
	background-size: cover;
	background-attachment: fixed; 
	background-position: center;
	position: relative;
}
.footer::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: -1;
}
.footer-item{
	width: calc(100% / 3);
	padding: 0 15px;
	text-align: center;
}
.footer-item h3{
	text-transform: capitalize;
	font-size: 24px;
	margin: 0 0 15px;
	color: var(--main-color);
}

.footer-item p{
	line-height: 30px;
	color: #fff;
}
.footer-item .social-links{
	margin-top: 15px;
}
.footer-item .social-links a{
	display: inline-flex;
	height: 40px;
	width: 40px;
	color: var(--main-color);
	font-size: 22px;
	align-items: center;
	justify-content: center;
	transition: color 0.3s ease;
}
.footer-item .social-links a:hover{
	color: #fff;
}
.footer .copyright{
	margin: 40px 0 0;
	width: 100%;
	text-align: center;
	padding: 20px 15px;
	font-size: 14px;
	border-top: 1px solid #c4c4c4;
	color: var(--main-color);
}






/*Responsiveness**/
@media (max-width: 991px){
	html{
		font-size: 55%;
	}

	.header{
		padding: 2rem;
	}

	section{
	padding: 5rem 2rem;
    }
}

@media(max-width: 768px){
	#menu-btn {
	display: inline-block;
    }

    .header .navbar a:nth-child(5){
		width: 30%;
		text-align: center;
	    border-radius: 0.6rem;
	}

	.header .navbar a:nth-child(5):hover {
		background: var(--primary-color);
		color: #fff;
		border: 2px solid #A56329;
	}


    .header .navbar{
		position: absolute;
		top: 99%; 
		left: 0;
		right: 0;
		background: #fff;
		transition: var(--transition);
		clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
	}
	  .header .navbar.active{
		clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
	}
	.header .navbar a{
		display: block;
		margin: 2rem;
		font-size: 2rem;
	}

	.home {
		height: 90vh;
	}
	.home-text span {
	   font-size: 37px;
    }
    .home-text h1 {
	   font-size: 30px;
	   padding-bottom: 1rem;
    }
    .home-btn{
    	font-size: 1.5rem;
    }
	.about .about-container {
		display: flex;
		flex-wrap: wrap;
	}

	.about-text h1{
		font-size: 45px;
	}

	.about .about-content h3 {
	   font-size: 2.6rem;
	   font-weight: 600;
	   line-height: 1.3;
	   margin-bottom: 0.9rem;
	   text-transform: capitalize;
	}

	.about .about-content p {
	   margin-bottom: 2rem;
	   font-size: 1.5rem;
	}

	.about-btn {
		font-size: 1.5rem;
	}

	.menu-text h1{
		font-size: 45px;
	}

	.menu-items{
		width: 100%;
	}
	.menu-items:nth-last-of-type(2)::after{
		border-bottom: 2px dashed #191f39;
	}

	.review-text h1{
		font-size: 45px;
	}

	.thank-text h1 {
		font-family: 'The Nautigal', cursive;
		font-size: 40px;
	}

	.footer-item {
		width: 100%;
	}
	.footer-item:not(:last-child){
		margin-bottom: 30px;
	}
	.footer-item p{
	font-size: 14px;
    }
}

@media screen and (max-width: 960px) {
	.col{
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.col{
		flex: 100%;
		max-width: 100%;
	}
}